<div class="mt-4">
    <h4 class="ordered-burger">{{burger_name}}</h4>

    <!--Devour me button-->
    <button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
        {{!-- <i class='fas fa-hamburger'></i>  --}}
        Devour
    </button>
</div>